<!DOCTYPE html>
<html>
<head>
    <title>Area of a Circle</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="circle">
    <a href="/works"></a>
    <h1>Area of Circle Calculator</h1>

    <form action="/areaofcircle" method="post">
        <div class="inputfloat">
            <label for="Inputfloat">Enter your radius:</label>
            <input type="text" id="Inputfloat" name="Inputfloat">
        </div>
        <div class="submit">
            <button type="submit">Calculate Area</button>
        </div>
    </form>

    {% if area %}
    <p> The area of circle is: {{ area }}</p>
    {% endif %}

</div>
</body>
</html>
