<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="contact">
    <div class="container">
        <div class="title">
            <h1>Contact Me!</h1>
        </div>

        <div class="phone">
            <h2><span>Phone:</span> +63 921 3807 760<h2>
        </div>

        <div class="webmail">
            <h2><span>Webmail:</span> kristinejoyftemplanza@iskolarngbayan.pup.edu.ph<h2>
        </div>

        <div class="location">
            <h2><span>Location:</span> Greenville Subdivision, Bagumbong, Caloocan City<h2>
        </div>
            
    </div>
</div>