<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<div id="portfolio">
    <div class="profile">
        <div class="contain">
            <div class="about">
                <img src="profile.png">
            </div>
            <div class="about-1">
                <h1 class="sub-title">About Me</h1>
                <p>Hello, I'm Kristine Joy F. Templanza, 19 years old and currently residing in
                <br>Caloocan City. I'm studying at Polytechnic University of the Philippines-Manila
                <br>taking Bachelor of Science in Computer Engineering (BSCPE 2-4).</br></p>
                <p1><br>—— "Malayo pa, pero malayo na..."</br>
                <br>Always celebrate your small victories and progresses.
                <br>No matter how small or slow it may look like, celebrate it.</br></p1>
            </div>
        </div>
    </div>
</div>
